* {
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
  box-sizing: border-box;
}
nav {
  padding: 20px;
  background: linear-gradient(to right, rgb(0, 140, 255), lightblue);
  font-size: 30px;
  font-weight: 20px;
  text-align: center;
}
.app {
  text-align: center;
}
.search-form {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 25px;
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.recipe {
  width: 650px;
  margin: 0px auto;
}
.card {
  border: 1px solid lightgray;
  word-wrap: break-word;
  word-break: break-all;
  margin: 3pc;
}
.recipe-title {
  padding: 30px;
  font-weight: normal;
  text-align: center;
}
.recipies {
  display: flex;
  flex-wrap: wrap;
}
